div.nextRow {
  margin-top: 20px;
}

div.productDiv {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: white;
  position: relative;
  background-color: rgb(25, 75, 25);
}

div.valueDiv {
  display: inline-block;
}

button.buttonAdd {
  position: absolute;
  top: -25px;
  right: 20px;
}
